{% extends "main_template.html" %}
{% block title %}SCHOLARPG{% endblock %}
{% block content %}
<h2>Add Miracle</h2>
<form action="../add_miracle/" method="POST">
    {% csrf_token %}
    <label for="title">Title</label>
    <input name="title" id="title" type="text" required="required">
    <label for="desc">Description</label>
    <textarea name="desc" id="desc" rows="5" required="required"></textarea>
    <label for="xp">Give XP</label>
    <input name="xp" id="xp" type="number" value="0" required="required">
    <label for="gp">Give GP</label>
    <input name="gp" id="gp" type="number" value="0" required="required">
    <label for="sp">Give SP</label>
    <input name="sp" id="sp" type="number" value="0" required="required">
    <button type="submit">Submit</button>
</form>

{% endblock %}