{% extends "main_template.html" %}
{% block title %}SCHOLARPG{% endblock %}
{% block content %}
<h2>Delete Random Event</h2>

    <p class="delete_msg">ARE YOU SURE?</p>
    <p class="delete_msg">If you delete the Random Event, it cannot be undone.</p>
    <div class="button-div">
        <form class="form-button" action="../../delete_random_event/{{event.pk}}" method="POST">
            {% csrf_token %}
            <button type="submit" value="delete">Delete Event</button>
        </form>
        <form class="form-button" action="../../view_random_events">
            <button type="submit">Cancel</button>
        </form>
    </div>
</div>
{% endblock %}