{% extends "main_template.html" %}
{% block title %}SCHOLARPG{% endblock %}
{% block content %}
<h2>Update Miracle</h2>
<form action="../update_miracle/{{miracle.pk}}" method="POST">
    {% csrf_token %}
    <label for="title">Title</label>
    <input name="title" id="title" type="text" value="{{miracle.title}}" required="required">
    <label for="desc">Description</label>
    <textarea name="desc" id="desc" rows="5" required="required">{{miracle.desc}}</textarea>
    <label for="xp">Give XP</label>
    <input name="xp" id="xp" type="number" value="{{miracle.xp}}" required="required">
    <label for="gp">Give GP</label>
    <input name="gp" id="gp" type="number" value="{{miracle.gp}}" required="required">
    <label for="sp">Give SP</label>
    <input name="sp" id="sp" type="number" value="{{miracle.sp}}" required="required">
    <button type="submit" value="update">Submit</button>
</form>

{% endblock %}